@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

html {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;
}

.description {
    color: #00000099;
}

.text {
    font-size: 1.5rem;
    font-weight: 700;
}

.outer {
    margin: 0 auto;
    max-width: 1920px;
}

.inner {
    margin: 0 auto;
    max-width: 1870px;
}

.header {
    margin-bottom: 40px;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 4px 21px -1px rgba(34, 60, 80, 0.13);
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

.header__logo-box {
    margin-right: auto;
}

.header__logo-text {
    font-weight: 700;
    font-size: 1.42rem;
    letter-spacing: 0.5rem;
}

.logo-text-appear {
    margin-bottom: 90px;
    display: none;
}

.header__language-box {
    display: flex;
    margin-right: 20px;
}

.header__language-item {
    font-size: 1.085rem;
}

.header__language--ru {
    margin-right: 5px;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 20px;
}

.header__nav-link {
    font-size: 1.085rem;
    font-weight: 500;
}

.header__nav-link:hover {
    text-decoration: underline;
}

.header__burger-button {
    position: relative;
    padding: 2px;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header__burger-button:hover .header__line--bottom {
    width: 100%;
}

.header__burger-line-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 6px;
}

.header__line {
    height: 1px;
    background-color: #000000;
    transition: all 0.5s;
}

.header__line--top {
    margin-bottom: 3px;
    width: 100%;
}

.header__line--bottom {
    height: 2px;
    width: 50%;
}

.content__outer {
    max-width: 1340px;
    padding-left: 50px;
    padding-right: 50px;
}

.content__inner {
    max-width: 1200px;
}


.content__top-container {
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.content__title-box {

}

.content__title {
    font-size: 4.3rem;
}

.content__title-strong {
    font-weight: 600;
    text-decoration: underline;
    font-style: oblique;
    animation: strong-appear 2s linear;
}


.content__social-list {
    display: flex;
}

.content__social-icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease-in-out;
}

.content__social-icon:hover {
    fill: #ffffff
}

.content__social-icon:hover rect {
    fill: #000000
}

.content__bottom-container {
    margin-bottom: 90px;
    display: flex;
    flex-wrap: nowrap;
}

.content__left {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.content__slider {
    width: 215px;
    margin: 0 auto 25px auto;
    overflow: hidden;
    position: relative;
}

.content__slider-line {
    display: flex;
    transition: all 1s;
}

.content__slider-img {
    width: 215px;
    height: 215px;
    object-fit: cover;
    filter: grayscale(100%);
}

.content__slider-img:hover {
    animation: zoom 0.9s linear both;
}

.content__btn {
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    color: #ffffff;
    background-color: transparent;
    border: #CCCCCC;
    line-height: 1;
}

.content__btn:hover {
    cursor: pointer;
    color: #CCCCCC;


}

.content__btn--prev {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
}

.content__btn--next {
    right: 0;
    transform: translateY(-50%);
}


.content__name {
    margin: 0 auto 50px auto;
    font-size: 1.45rem;
    font-weight: 600;
}

.content__name-description {
    margin-bottom: 50px;
    font-size: 1.18rem;
    font-weight: 400;
    line-height: 22px;
}

.content__description-strong {
    font-weight: 600;
    color: #000000;
    animation: strong-description-appear 2s linear;
}

.content__personality-box {
    margin-bottom: 40px;
}

.content__personality-item--first {
    border-top: 2px solid #000000;
}

.content__personality-item {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000000;
}

.content__button-box:not(:last-child) {
    margin-bottom: 10px;
}

.content__button {
    width: 100%;
    padding: 0;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 2px solid #000000;
}


.content__button:hover {
    background-color: #000000;
    color: #ffffff;
}

.content__button-link {
    display: block;
    padding: 10px 20px 10px 20px;
}

.content__heading-box {
    margin-bottom: 20px;
    overflow: hidden;
}

.content__middle-heading {
    text-align: end;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 33px;
}

.content__middle-line {
    height: 8px;
    border-top: 2px solid black;
    border-bottom: 4px solid black;
    animation: line-transform 2s linear both;
}

.content__middle-personality-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.content__personality-item-box {
    transition: all 0.5s;
}

.content__personality-item-box:hover {
    scale: 1.15;

}

.content__scale {
    margin-bottom: 20px;
    width: 100%;
    height: 3px;
    background-color: #CCCCCC;
}

.content__scale::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000;
    z-index: 1;
    animation: scale-transform-100 2s linear both;
}

.content__scale--javascript:after {
    width: 50%;
    animation: scale-transform-50 2s linear both;
}

.content__scale--react:after {
    width: 30%;
    animation: scale-transform-30 2s linear both;
}

.content__scale--typescript:after {
    width: 30%;
    animation: scale-transform-30 2s linear both;
}

.content__scale--git:after {
    width: 80%;
    animation: scale-transform-80 2s linear both;
}


.content__text {
    font-weight: 700;
    font-size: 1rem;
}

.content_personality-item-right {
    display: flex;
    flex-direction: column;
}

.content__personality-text {
    text-align: end;
}

.content__middle-personality-description {
    margin-bottom: 20px;
}

.content__bottom-box {
    display: flex;
}

.content__bottom-left {
    margin-right: 40px;
    flex-basis: 50%;
}

.content__bottom-right {
    flex-basis: 50%;
}

.content__tag-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.content__tag {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 2px 10px;
    font-weight: 700;

}

.footer {
    border-top: 1px solid #CCCCCC;

}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


@keyframes strong-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        filter: grayscale(0);
        transform: scale(1.1);
    }
}

@keyframes strong-description-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes line-transform {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    90% {
        opacity: 1;
        transform: translateX(90%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes scale-transform-100 {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes scale-transform-50 {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 50%;
    }
}

@keyframes scale-transform-30 {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 30%;
    }
}

@keyframes scale-transform-80 {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 80%;
    }
}

/*@media (max-width: 1780px) {*/
/*    html {*/
/*        font-size: calc(12 / 1640 * 100vw);*/
/*    }*/
/*}*/
/*@media (max-width: 1640px) {*/
/*    html {*/
/*        font-size: calc(12 / 1640 * 100vw);*/
/*    }*/
/*}*/
/*@media (max-width: 1440px) {*/
/*    html {*/
/*        font-size: calc(12 / 1440 * 100vw);*/
/*    }*/
/*}*/
@media (max-width: 1024px) {
    .logo-text-appear {
        display: block;
        color: #ffffff;
    }

    .header__burger-button {
        display: flex;
        z-index: 11;

    }

    .header__burger-button--is-active {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .header__burger-button--is-active .header__line {
        background-color: #ffffff;
        transition: all 0.5s;
    }

    .header__burger-button--is-active .header__line--top {
        transform: translateY(0px) rotate(-45deg);
        height: 2px;
    }

    .header__burger-button--is-active .header__line--bottom {
        transform: translateY(-5px) rotate(45deg);
        width: 100%;
    }


    .header__nav {
        margin-right: 0;
        position: fixed;
        right: 0;
        top: 1px;
        z-index: 10;
        background-color: #000000;
        transition: transform 0.6s ease-in-out;
        transform: translateX(110%);
        height: 100vh;
    }

    .header__nav-list {
        flex-direction: column;
        padding: 40px 30px 60px 30px;
    }

    .header__nav-item {
        margin-right: 0;
        color: #ffffff;
    }

    .header__nav-item:not(:last-child) {
        margin-bottom: 60px;
    }

    .header__nav-link {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .header__nav--is-active {
        transform: none
    }

    .content__title {
        font-size: 3.3rem;
    }

}

@media (max-width: 840px) {
    .content__top-container {
        flex-direction: column;
        align-items: center;
    }

    .content__title {
        font-size: 2.5rem;
    }

    .content__bottom-container {
        flex-direction: column;
        align-items: center;
    }

    .content__left {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .content__slider {
        width: 450px;
    }

    .content__slider-img {
        width: 450px;
        height: 450px;
    }
}

@media (max-width: 540px) {
    .content__bottom-box {
        flex-direction: column;
        align-items: center;
    }

    .content__bottom-left {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .content__title {
        font-size: 2rem;
    }

    .content__slider {
        width: 350px;
    }

    .content__slider-img {
        width: 350px;
        height: 350px;
    }

    .content__outer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 540px) {
    .content__slider {
        width: 275px;
    }

    .content__slider-img {
        width: 275px;
        height: 275px;
    }
    .content__outer {
        padding-left: 8px;
        padding-right: 8px;
    }
}
